* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{

    font-family: 'Montserrat', sans-serif;

}

.container{
    max-width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
}


.col66{
    width: 100%;
}

.col33{
    width: 100%;
}

.col50{
    width: 50%;
}

.col500{
    width: 100%;
}

ul{
    list-style: none;
}

li{
    align-self: center;
    margin: 10px;
}

.button_header{
    background-color: white;
    color: black;
    padding: 5px 12px;
    border-radius: 20px;
}

.title_main{
    color: rgba(33,148,253,255);
    text-align: left;
    font-size: 25px;
    margin-bottom: 20px;

}

.title_main2{
    color:white;
    font-size: 20px;
    font-weight: bolder;
    padding: 40px;

}

.text_main{
    line-height: 30px;
}

.text_main2{
    color: white;
    padding: 0px 40px 40px 40px;
    line-height: 20px;
    font-size: 12px;
}

.pic_main{
    color: rgba(33,148,253,255);
    align-self: center;
    font-size: 35px;
    margin: 20px

}

.button_main{
    background-color: rgba(0,132,253,255);
    color: white;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    padding: 8px 40px;
    
}

.img{
    width: 100%;
}

.img2{
    width: 80%;
    align-self: center;
    
}

.arrow_back{
    background-color: rgba(151,146,228,255);
    border-radius: 20px;
    padding: 15px 10px;
    margin-bottom: 20px;
    
}
/* COMMON */

.color_white{
    color: white;
}

.color_black{
    color: black;
}

.bg_header{
    background-color: rgba(0,132,253,255);
}

.bg_main{
    background-color: rgba(181,221,255,255);
    border-radius: 15px;
}

.bg_main2{
    background-color: rgba(151,146,228,255);
}

.bg_white{
    background-color: white;
    border-radius: 20px;
    margin: 20px;
}
.padding_20{
    padding: 20px;
}

.padding-left_5{
    padding-left: 5px;
}
.margin-top_20{
    margin-top: 20px;
}
.margin-top_40{
    margin-top: 40px
}

.margin-left_20{
    margin-left: 20px;
}
.padding-left_40{
    padding-left: 40px;
}

.padding-right_40{
    padding-right: 40px;
}

.padding_20_20_0_20{
    padding: 20px 20px 0px 20px;
}

.margin_20{
    margin: 20px;
}

.d_flex{
    display: flex;
}

.flex-wrap_wrap{
    flex-wrap: wrap;
}

.justify-content_center{
    justify-content: center;
}

.justify-content_flex-end{
    justify-content: flex-end
}

.flex-direction_column{
    flex-direction: column;
}

.d_none{
    display: none;
}

.d_show{
    display: flex;
}

.align-self_center{
    align-self: center;
}

.text-align_center{
    text-align: center;
}

/* MEDIA QUERY */

@media screen and (min-width: 576px) {
    .container{
        max-width: 767px;
    }
    
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 991px;
    }
    
    .col66{
        width: calc(100% / 3 * 2 - 40px);
    }

    .col33{
        width: calc(100% / 3 - 40px);
    }


    /* .col33.justify-content_center{
        justify-content: flex-start;
    } */

    .margin_20{
        margin: 10px
    }

    .padding_20_20_0_20{
        padding: 10px 10px 0px 10px;
    }
}

@media  screen and (min-width: 992px) {
    .container{
        max-width: 1200px;
    }

    .d_none{
        display: flex;
    }
    
    .d_show{
        display: none;
    }

    .desktop-col66{
        display: flex;
    }
    .img{
        height: 80%;
        align-self: flex-end;
    }

    .pino{
        padding: 100px

    }

    .pinuzzo{
        width: 40%;
    }

    .col500{
        width: calc(50% - 20px);
        justify-content: flex-end;
    }

    .bg_white{
        justify-content: flex-end;
        align-self: flex-end;
        flex-direction: column;
        margin-top: 100px;
    }

}